<footer class="footer">
  <div class='centered'>
    <a href="https://mixpanel.com/f/partner" rel="nofollow"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    <h5><%= mail_to 'dmichalec@covermymeds.com', "Have an idea?" %></h5>
  </div>
</footer>
